h1 {
    text-align: center;
    background-color: cadetblue;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
}

.NewEventbtn {
    background : cadetblue;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
} 

.btn-container{
    text-align: center;
}

button{
    display: block;
    margin: 0 auto;
}